{% extends "base.html" %}
{% load static %}

{% block title %}Готовна — Блог{% endblock %}

{% block content %}
  {% for article in articles %}
    <div>
      <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
      <p class="text-muted">Автор: {{ article.author.username }} | {{ article.created_at|date:"d.m.Y H:i" }}</p>
      <div class="text-container">
        {{ article.content|linebreaks }}
      </div>
    </div>
  {% endfor %}

  <!-- <hr>
  <h4>Коментарі:</h4>
  <div id="comment-list">

  </div>

  <hr> -->
  
{% endblock %}


